/* 
---------
CSS reset 
---------
*/
	*{
		box-sizing: border-box;
	}
	
	body, html, 
	ul, li, 
	dl, dt, dd{
		margin: 0; padding: 0;
	}
	
	body{
		font-family: helvetice, arial, sans-serif;
		line-height: 1.5em;
	}

	dt{
		font-weight: bold;
	}
	
	dt:after{
		content: ":";
		padding-right: 1em;
	}


/* 
---------
Basics 
---------
*/
	body{
		border-top: 0.5em solid #5590D4;
		color: #333;
	}
	
	p{
		color: #555;
	}
	
	.wrap{
		max-width: 730px;
		margin: 0 auto;
		padding: 0 20px;
	}
	
	a{
		cursor: pointer;
	}
	
	.cf:after{
		content: "";
		display: table;
		clear: both;
	}
	
	.btn{
		display: inline-block;
		padding: 0 1em;
		line-height: 3em;
		border-radius: 3px;
		margin-top: 1.5em;
		background: #5590D4;
		color: #fff;
		text-decoration: none;
		text-align: center;
	}

/* 
---------
Headers 
---------
*/
	h1, h2{
		margin: 3em 0 1em;
		line-height: 1.5em;
	}

	h2{
		font-size: 1em;
	}


/* 
---------
Logo 
---------
*/
	.logo{	
		font-size: 3.5em;
		line-height: 2em;
		margin-top: 3em;
	}
	
	.logo, .logo a{
		font-size: 0.875em;
		text-transform: uppercase;
	
		text-decoration: none;
		color: #EA4737;
	}


/* 
---------
Modules 
---------
*/

	.rows{
		
	}
	
	.rows a{
		display: block;		
		padding: 1.5em 0;
	}
	
	.rows a:hover{
		background: #eff7ff;
		border-bottom: 2px solid #379bcc;
		border-top: 2px solid #379bcc;
		margin-top: -2px;
		margin-bottom: -2px;
		position: relative;
		z-index: 100;
	}
	
	.rows li{
		list-style: none;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;	
	}
	
	.rows li:first-child{
		border-top: 2px solid #eee;	
	}

	.rows li:last-child{
		border-bottom: 2px solid #eee;
	}
	
	/* cakalne dobe */
		.cakalne_dobe{
			font-size: 16px;
		}
		
		.redno:before, .hitro:before{
			content: "hitro";
			display: block;
			font-size: 10px;
			text-transform: uppercase;
			color: #aaa;
		}
		
		.redno:after, .hitro:after{
			content: " dni";
			color: #aaa;
			display: inline;
			font-size: 12px;
		}
		
		
		.redno:before{
			content: "redno";
		}
		
		.hitro, .redno{
			text-align: center;
			display: inline-block;
			width: 50%;
		}
		
		.hitro{
			padding-right: 10px;
		}
		
		.redno{
			padding-left: 10px;
		}

	.izvajalec{
		width: 50%;
		font-size: 16px;
	}	
	.izvajalec span{
		display: block;
	}	

	
	.izvajalec, .cakalne_dobe, .mesto, .dejavnost_ime{
		display: inline-block;
		vertical-align: top;
		color: #333;
	}
	
	.cakalne_dobe, .mesto{
		font-size: 14px;
		width: 25%;
		padding-left: 20px;
	}	
	
	.ime, .dejavnost_ime{
		/* overflow elipsis */
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.dejavnost_ime{
		display: inline-block;
		width: 75%;
	}
	
	.ime{
		font-size: 12px;
	}

	.services_list .ime,
	.dejavnost{
		font-weight: bold;
	}

	a, .dejavnost, .services_list .ime{
		text-decoration: underline;
		color: #3C84D7;
	}
	
	.services_list .ime{
		font-size: 1em;
	}
	
	
	/* Single result */
		dt, dd{
			margin-top: 1em;
			float: left;
		}
				
		dt{
			clear: both;
		}
				
		.regular,.fast{
			color: #555;
			width: 50%;
			display: inline-block;
			text-align: center;
			font-size: 1.5em;
			background: #eee;
			line-height: 4.5em;
			padding: 0 1em;
		}
		

		.regular:before,.fast:before{
			content: "Hitro: ";
			text-transform: uppercase;
			color: #777;
			font-size: 0.5em;
			line-height: 6em;
			height: 0.5em;
			font-weight: bold;
		}		
		
		.regular:before{
			content: "Redno: "
		}
		
		.regular:after,.fast:after{
			content: " dni";
			color: #777;
			font-size: 0.5em;
		}
		
		.more{
			margin-top: 4.5em;
			width: 100%;
		}
	
/* 
---------
Search 
---------
*/	
	input{
			padding: 0 0.5em;
			font-size: 1em;	
			line-height: 1.5em;	
			border:none;
			border-bottom: 3px solid;
			border-radius: 0;
		}
		
	input:focus{
		outline: none; 
		border-bottom: 3px solid #5590D4
	}

	.search{
		display: none; /* only via JS */
		margin: 7.5em 0 8em;
	}	
	
	#search_input{
		font-size: 1.5em;
		display: block;
		width: 100%;
		margin: 1.5em auto;
		line-height: 3em;
		background: url('icons/search.png') no-repeat 0.5em center;
		padding-left: 2em;
	}
	
	
/* 
---------
Other
---------
*/		
	
	.terms{
		max-width: 560px;
	}
	
	.search_alt{
		font-size: 0.75em;
		color: #777;
		padding: 1em;
		background: #eee;
		width: 100%;
		display: block;
		border-radius: 3px;
		text-align: center;
	}	
	
/* 
---------
Footer
---------
*/	

html{
	height: 100%;
}

body{
	min-height: 100%;
	padding-bottom: 16em; /* footer height + footer margin */
	position: relative;
}

.footer{
	width: 100%;
	position: absolute;
	bottom: 0;
	line-height: 8em;
	font-size: 0.75em;
	text-align: center;
	background: #eee;
}


/* ----- */
/* 
	pagination 
*/

#pagination{
	display: none;
	margin-top: 1.5em;
	background: #eee;
	text-align: center;
	position: relative;
	line-height: 3em;
	border-radius: 3px;
}

#prev,
#next{
	top: 0;
	position: absolute;
	display: inline-block;
	width: 100px;
	background: #5590D4;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

#prev{
	left: 0px;
	border-radius: 3px 0px 0px 3px;
}

#next{
	right: 0px;
	border-radius: 0px 3px 3px 0px
}

#page:before{
	content: "Stran: ";
	display: inline
}


/* ----- */
@media (max-width: 720px){	
	#search_input{
		font-size: 1.25em;
		padding-left: 2.5em;
	}
	
	.search{
		margin: 4.5em 0 8em;
	}	
}

@media (max-width: 630px){	
		#search_input{
			font-size: 1em;
		}

		.search{
			margin: 3em 0 8em;
		}
}

@media (max-width: 480px){	
		.izvajalec,
		.mesto,
		.cakalne_dobe{
			width: 100%;
			padding: 0.5em 0;
			margin: 0;
		}
		
		.rows li{
			padding: 0;
		}
		
		.cakalne_dobe{
			position: relative;
		}
		
		.redno,
		.hitro{
			background: #eee;
			padding: 0.5em;
			border-radius: 0;
			color: #555;
		}
		
		
		.regular:before,.fast:before{
			display: block;
		}

		dt, dd{
			float: none;
		}
		dd{
			margin: 0;
		}
		
		#page:before{
			display: none;
		}
}

